/* Universal Styles */
html {
  font-size: 16px;
}

body {
  min-width: 475px;
  font-family: "Arial", sans-serif;
  color: #303030;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  padding-top: 2rem;
}

h4 {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 0.5rem;
}

.container {
  display: flex;
  align-items: center;
}

.media {
  width: 60%;
  height: auto;
  overflow: hidden;
  padding: 0 1.5rem;
}

.section-title {
  text-align: center;
}

/* Header */
header  {
  position: fixed;
  justify-content: space-between;
  width: 100%;
  height: 4rem;
  z-index: 100;
  background-color: white;
}

header .logo img {
  height: 2rem;
  padding-left: 1.5rem;
}

header .logo {
  font-size: 1.5rem;
}

header .bold {
  font-weight: bold;
}

nav {
  padding-right: 1.5rem;
}

nav ul li {
  padding-left: 1rem;
}


/* Banner */
.banner {
  position: relative;
  align-items: center;
  top: 4rem;
  padding: 2rem 0;
  background-color: lightgray;
}

.banner .media img {
  max-width: 100%;
  height: auto;
  display: block;
}

.banner .start {
  max-width: 40%;
}

.banner .button {
  width: 70%;
  color: white;
  background-color: #303030;
  padding: 1rem 0;
  text-align: center;
}

.banner h4 {
  width: 70%;
  line-height: 1.5;
  padding: 2rem 0;
}

.banner h1 {
  width: 70%;
}




/* Info */
.info {
  display: flex;
  padding: 2rem 0;
}

.info .media img {
  max-width: 100%;
  height: auto;
  display: block;
}

.info-blocks {
  max-width: 40%;
}

.info-blocks .container {
  border: 1px solid lightgray;
}

.info-blocks img {
  max-width: 35%;
  height: auto;
  padding: 1rem;
}

.info .class {
  font-size: 0.75rem;
  font-weight: bold;
}

.info h2 {
  padding-bottom: 1.5rem;
}

.info-text {
  max-width: 65%;
}

.info-text p {
  color: gray;
  padding: 0.5rem 0;
  line-height: 1.5;
}

.more {
  color: #4286f4;
}


/* Thesis */
.thesis {
  display: flex;
  padding: 2rem 0;
}

.thesis .media img {
  max-width: 100%;
  height: auto;
  display: block;
}

.thesis .class {
  font-size: 0.75rem;
  font-weight: bold;
}
 .video-title {
   padding-top: 1.5rem;
 }

 .thesis h4 {
   line-height: 1.5;
 }

 /* Footer */
 footer {
   justify-content: space-between;
   padding: 1rem 2rem;
   border-top: 1px solid lightgray;
 }

footer ul li {
  padding-left: 0.5rem;
}
